@font-face {
	font-family: "Miriadpro";
	font-weight: 400;
	src: url("./fonts/MYRIADPRO-LIGHT_0.OTF")format("opentype")
}
@font-face {
	font-family: "Miriadpro";
	font-weight: 500;
	src: url("./fonts/MYRIADPRO-REGULAR.OTF")format("opentype")
}
@font-face {
	font-family: "Miriadpro";
	font-weight: 600;
	src: url("./fonts/MYRIADPRO-SEMIBOLD.OTF")format("opentype")
}
@font-face {
	font-family: "Miriadpro";
	font-weight: 700;
	src: url("./fonts/MYRIADPRO-BOLD.OTF")format("opentype")
}
@font-face {
	font-family: "Miriadpro";
	font-weight: 800;
	src: url("./fonts/MYRIADPRO-BLACK_0.OTF")format("opentype")
}