doctype html
html(lang = 'en')
  head
    meta(nname="viewport" content="width=device-width, initial-scale=1.0")
    block stylePage
  body
    include header.pug
    block content
    include footer.pug

